.backgroud_card {
  background-color: #90e0ef;
}

.card-prod-carousel {
	height: 280px;
}

.img-carousel {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-carousel img {
	border: 1px solid black;
  height: 100%;
	max-width: 100%;
}
